.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


.rickandmorty_img,.simpson_img, .morty_img{
    margin-top: 5px;
    width: 70%;
    height: 60%;
}

.user_div,.simpson_div,.morty_div {
    width: 18%;
    text-align: center;
    margin: 5px auto;
    box-shadow: 0.2rem 0.2rem 0.3rem #c4c4c4, -0.1rem -0.1rem 0.3rem #cbcbcb;
}
.users_div,.simpsons_div,.mortys_div {
    margin-top: 40px;
    font-size: 10px;
    display: flex;
    flex-wrap: wrap;
}
.homework1{
    text-align: center;
}